.recipient-gift-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 3rem;
}

.gift-message {
    max-width: 60%;
}

.gift-message-content {
    margin: 2rem 0;
}

.gift-selection {
    align-items: center;
    max-width: 65%;
}

.gift-selection-title {
    font-size: 1.5rem;
    line-height: 3rem;
}

.gift-selection-content {
    display: flex;
    margin: 2rem 0;
    gap: 3rem;
    /* align-items: center; */
}

.product {
    pointer-events: all;
    cursor: pointer;
    padding: 0.5rem;
}

.product:hover, .selected-product {
    border: 2px solid black;
}

.product-image {
    position: relative;
}

.lll-pill {
    position:absolute;
    right: 10px;
    bottom: 10px;
}

.product > img {
    width: 100%;
}

button {
    right: 0;
}