.recipient-gift-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.gift-message {
    max-width: 60%;
}

.gift-message-content {
    margin: 2rem 0;
}

.gift-selection {
    align-items: center;
    max-width: 65%;
}

.gift-selection-title {
    font-size: 1.5rem;
    line-height: 3rem;
}

.gift-selection-content {
    display: flex;
    margin: 2rem 0;
    gap: 3rem;
    /* align-items: center; */
}

.product {
    /* height: 300px; */
    /* width: 200px; */
    /* border-radius: 10px; */
}

.product > img {
    width: 100%;
}

button {
    border: 1px solid black;
}